<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>{{title}}</title>
    <meta name="description" content="{{meta.description}}">
    <meta name="author" content="{{meta.author}}">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    {{#each css}}
      <link href="{{this}}" rel="stylesheet">
    {{/each}}

    <!--[if lt IE 9]>
      <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body class="message-app">
    <div class="sk-circle circle-spinner">
      <div class="sk-circle1 sk-child"></div>
      <div class="sk-circle2 sk-child"></div>
      <div class="sk-circle3 sk-child"></div>
      <div class="sk-circle4 sk-child"></div>
      <div class="sk-circle5 sk-child"></div>
      <div class="sk-circle6 sk-child"></div>
      <div class="sk-circle7 sk-child"></div>
      <div class="sk-circle8 sk-child"></div>
      <div class="sk-circle9 sk-child"></div>
      <div class="sk-circle10 sk-child"></div>
      <div class="sk-circle11 sk-child"></div>
      <div class="sk-circle12 sk-child"></div>
    </div>
    <nav class="navbar navbar-fixed-top header hide"></nav>
    <div class="navbar navbar-default hide" id="subnav"></div>
    <div class="container hide" id="main">
      <div class="row">
        <div class="notification"></div>
        <div class="col-md-6 middle-block form"></div>
      </div>
      <div class="row post-list"></div>
    </div>
  </body>
  <script data-main="js/Main" src="js/libs/require-min.js"></script>
</html>